<footer class="padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="footer__inner text-align-center">
            <h2 class="font-montserrat-medium font-size-40 grey-color margin-bottom-30">
                Вступайте в мою группу
            </h2>
            <div class="subtitle font-montserrat-light font-size-24 margin-bottom-45">
                Присоединяйтесь в социальных сетях
            </div>
            <ul class="display-flex justify-center gap-20">
                <li>
                    <a href="">
                        <img src="./images/socialmedia/vk.png" alt="vk" />
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/socialmedia/whatsapp.png" alt="whatsapp" />
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/socialmedia/telegram.png" alt="telegram" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>