<header class="bg-color-gray">
    <div class="container">
        <div class="header__inner flex-sb-alc">
            <a href="https://client-0sz4.onrender.com/index.html" class="logo">
                <img src="../images/temp-logo.png" alt="" class="max-height-112" />
            </a>
            <nav class="menu" id="menu">
                <ul class="menu-wrapper flex-sb-alc gap-10 font-montserrat font-size-18">
                    <li><a href="https://client-0sz4.onrender.com/#aboutCompany">О компании</a></li>
                    <li><a href="https://client-0sz4.onrender.com/#Examples">Примеры рекламных компаний</a></li>
                    <li><a href="https://client-0sz4.onrender.com/#Rewies">Отзывы</a></li>
                    <li><a href="https://server-bp9a.onrender.com/services">Услуги</a></li>
                </ul>
            </nav>
            <div class="burger" id="burger">
                <div class="line width-50P align-self-start"></div>
                <div class="line"></div>
                <div class="line width-50P align-self-end"></div>
            </div>
        </div>
    </div>
</header>